<ul class="nav navbar-nav side-nav">
    <li class="section hidden-xs">Reports</li>
    @if (User.IsInRole("Administrator"))
    {
    <li><a href="/Reports/AllData/"><i class="fa fa-dashboard"></i> Participant Data (BIG!)</a></li>
    <li><a href="/Reports/StaffData/"><i class="fa fa-dashboard"></i> Staff Data (BIG!)</a></li>
    <li><a href="/Reports/StandardDeviation"><i class="fa fa-dashboard"></i> Standard Deviation</a></li>
    }
    @if (!User.IsInRole("School Coordinator"))
    {
    @*<li><a href="/Reports/QuantitativeByGroup"><i class="fa fa-dashboard"></i> Quantitative By Group</a></li>*@
    <li><a href="/Reports/JobCodeGroup"><i class="fa fa-dashboard"></i> JobCode (Group)</a></li>
    <li><a href="/Reports/JobCodePrograms"><i class="fa fa-dashboard"></i> JobCode (Program)</a></li>
    @*<li><a href="/Reports/ProgramsBenchmark"><i class="fa fa-dashboard"></i> Programs Benchmark</a></li>*@
    @*<li><a href="/Reports/DurationBenchmark"><i class="fa fa-dashboard"></i> Duration Benchmark</a></li>*@
    <li><a href="/Reports/Duration"><i class="fa fa-clock-o"></i> Duration</a></li>
    <li><a href="/Reports/Venue"><i class="fa fa-university"></i> Venue</a></li>
    <li><a href="/Reports/School"><i class="fa fa-graduation-cap"></i> School</a></li>
    <li><a href="/Reports/Item"><i class="fa fa-question"></i> Item</a></li>
    @*<li><a href="/Reports/AllCoursesBenchmark"><i class="fa fa-dashboard"></i> All Courses Benchmark</a></li>*@
    <li><a href="/Reports/YearLevel"><i class="fa fa-calendar"></i> Year Level</a></li>
    <li><a href="/Reports/YearLevelCompetency"><i class="fa fa-calendar"></i> Year Level With Competency</a></li>
    <li><a href="/Reports/Competency"><i class="fa fa-question"></i> Competency</a></li>
    }
    <li><a href="/Reports/SchoolQuantitativeByGroup"><i class="fa fa-dashboard"></i> Group & Job Code (Competencies & Total)</a></li>
    <li><a href="/Reports/SchoolQualitative"><i class="fa fa-dashboard"></i> School Qualitative</a></li>
    <li><a href="/Reports/ItemJobCode"><i class="fa fa-dashboard"></i> Items & Job Code</a></li>



    
    @if (User.IsInRole("Administrator") || User.IsInRole("Senior Manager") || User.IsInRole("Director") || User.IsInRole("Head of Teaching Team"))
    {
        <li class="section hidden-xs">System Administration</li>
        <li><a href="/Users"><i class="fa fa-user"></i> Users</a></li>
        
        if (User.IsInRole("Administrator"))
        {
            <li><a href="/UserGroups"><i class="fa fa-users"></i> User Groups</a></li>
            <li><a href="/Surveys"><i class="fa fa-file"></i> Surveys</a></li>
        }
    }
</ul>
