
@{
    ViewBag.Title = "Forms";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h1><i class="fa fa-file fa-2x"></i> @ViewBag.Title </h1>
<ul>
    <li>Senior Manager
    <ul>
        <li><a href="#">Document 1</a></li>
        <li><a href="#">Document 2</a></li>
        <li><a href="#">Document 3</a></li>
    </ul>
    </li>
    <li>
        Group Leader
        <ul>
            <li><a href="#">Document 1</a></li>
            <li><a href="#">Document 2</a></li>
            <li><a href="#">Document 3</a></li>
        </ul>
    </li>
    <li>
        Program Leader
        <ul>
            <li><a href="#">Document 1</a></li>
            <li><a href="#">Document 2</a></li>
            <li><a href="#">Document 3</a></li>
        </ul>
    </li>

</ul>

