@model MinSignUp

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}
<h1><i class="fa fa-user fa-2x"></i> Reset Password </h1><hr />
@Html.Partial("_Message", ViewData["Message"])



